.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.containerDiscover{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 12fr; 
    width: 600px;
    height:500px;
    gap: 10px;
    margin: 20px 10px;
    border: 2px solid white;
        .imageDiscover{
            width: 258px;
            height: 359px;
            margin: auto;
            grid-area: 2 / 1 / 3 / 2;
        }
        
        .titleDiscover{
            max-width: 258px;
            text-align: center;
            margin: auto;
            padding: 0px 0px 25px 15px;
            grid-area: 1 / 1 / 2 / 3;

        }

        .videoDiscover{
            grid-area: 2 / 2 / 3 / 3;
            margin: auto;
        }
}
    
