@import "../assets/css/NavBar.min.css";
@import "../assets/css/SearchBar.min.css";
@import "../assets/css/FetchingTrending.min.css";
@import "../assets/css/FetchNowPlaying.min.css";

#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
}
/*  PAGE DISCOVER */
.catalogue{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}

.image{
  width: 150px;
  height: 150px;
  background-color: grey;
}
/* ***************************** */

/* PAGE DETAIL */
.imgDetail{
  width: 375px;
  height: 287px;
  background-color: #888;
}
/* ***************************** */

*{
  background-color: #15141F;
  color: white;
}

/* TITLE */
.titleColor{
  color: orange;
}
.headerClass{
  width: 327px;
  height: 191px;
  background-color: lightgrey;
  margin: auto;
}

.mainClass{
  width: 258px;
  height: 359px;
  background-color: lightgrey;
  border: 20px;
  margin: auto;
}
.imgCredit{
  width: 70px;
}
h1{
  font-size: 24px;
}
img{
  width: 154px;
  height: 215px;
}
.movieTitle{
  max-width: 154px;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
