.containerNowPlaying{
    margin-top: 40px;
    position: relative;
    .imageNowPlaying{
        position: relative;
        margin: auto;
        height: 75vh;
        width: 100%;
    }
    .titleNowPlaying{
        position: absolute;
        left: 7%;
        bottom: 1%;
        color: white;
        font-size: 40px;
        font-weight: bold;
        text-transform: capitalize;
        background-color: rgba(0,0,0,0.8);
        border-radius: 10px;
        padding: 0px 10px;
    }
}

